<nav class="navbar">
  <a href="#" class="logo"> PLAN-IT </a>
  <div  class="nav-links">
    <ul>
      <li><a routerLink="profil" routerLinkActive="active">Profil</a></li>
      <li><a routerLink="employee-management" routerLinkActive="active">Gestion des employées</a></li>
      <li><a routerLink="." routerLinkActive="active">Gestion du site</a></li>
      <li><a routerLink="/leave" routerLinkActive="active">Quitter</a></li>
    </ul>
    <hr>
  </div>
</nav>
<router-outlet> </router-outlet>





