<!--
<ul>
  <li><a routerLink="./employee" routerLinkActive="active">Employée</a></li>
  <li><a routerLink="./directors" routerLinkActive="active">Directeur</a></li>
</ul>
<router-outlet></router-outlet>
-->

<input type="checkbox" [(ngModel)]="show" /> Changement de vue<br>


<ng-container *ngIf="show">
  <!--Si directeur, accès à ce menu supplémentaire -->
  <app-directors
    [homePage]="this"
    [employees]="employeesGroup"
    [events]="events"
    (eventsChanges)="updateEvent($event)"
    [colors]="colors"></app-directors>
</ng-container>

<ng-container *ngIf="!show">
  <!--Si employé, accès à ceci, à ajouter avec les autres menus par la suite ... -->
  <app-employee
    [homePage]="this"
    [employees]="employees"
    [employee]="employee"
    [events]="eventsEmployee"
    [colors]="colors"></app-employee>
</ng-container>

