<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plan-It</title>
</head>

<body>
<nav class="navbar">
  <a href="#" class="logo"> PLAN-IT </a>
  <div class="nav-links">
    <ul>
      <li><a routerLink="calendar" routerLinkActive="active">Gestion des plannings</a></li>
      <li><a routerLink="/employee" routerLinkActive="active">Quitter</a></li>
    </ul>
  </div>
</nav>
<header></header>

<router-outlet></router-outlet>

</body>
</html>


<!--<input type="checkbox" [(ngModel)]="show" /> Changement de vue<br>-->


<!--<ng-container *ngIf="show">-->
<!--  &lt;!&ndash;Si directeur, accès à ce menu supplémentaire &ndash;&gt;-->
<!--  <app-directors-->
<!--    [homePage]="this"-->
<!--    [employees]="employeesGroup"-->
<!--    [events]="events"-->
<!--    (eventsChanges)="updateEvent($event)"-->
<!--    [colors]="colors"></app-directors>-->
<!--</ng-container>-->

<!--<ng-container *ngIf="!show">-->
<!--  &lt;!&ndash;Si employé, accès à ceci, à ajouter avec les autres menus par la suite ... &ndash;&gt;-->
<!--  <app-employee-->
<!--    [homePage]="this"-->
<!--    [employees]="employees"-->
<!--    [employee]="employee"-->
<!--    [events]="eventsEmployee"-->
<!--    [colors]="colors"></app-employee>-->
<!--</ng-container>-->

