<html>
<body>
<h2>Nos employées</h2>
<div>
  <ng-container *ngIf="employees.length">
    <select [(ngModel)]="selectedEmployee" (ngModelChange)="getDetail()">
      <optgroup label="Admins">
        <ng-container *ngFor="let employee of employees">
          <option *ngIf="employee.isAdmin" value="{{employee.idAccount}}">{{employee.lastName}}, {{employee.firstName}}</option>
        </ng-container>
      </optgroup>
      <optgroup label="Employés">
        <ng-container *ngFor="let employee of employees">
          <option *ngIf="!employee.isAdmin" value="{{employee.idAccount}}">{{employee.lastName}}, {{employee.firstName}}</option>
        </ng-container>
      </optgroup>
    </select>
    <button (click)="selectedEmployee = 0">Réinitialiser</button>
  </ng-container>
</div>

<app-management-detail [employee]="employee"
                       (employeeUpdated)="update($event)" (employeeUpdatedPassword)="updatePassword($event)" (employeeDeleted)="delete($event)"></app-management-detail>

</body>

</html>
