<html>
<body>
<div class="container">
  <div class="main">
    <div class = "row">
      <div class = "card text-center  sidebar">
        <div class="card-body">
          <img src="prof.png" class="rounded-circle" width="512">
        </div>
      </div>

      <br><br>
      <div>
        <div class="col-md-8 mt-1">
          <div class="card mn-3 content">
            <h1>Informations personnelles</h1>
            <div class="row">
              <div class="col-md-3">
                <h5>Nom : </h5>
              </div>
              <div  class="col-md-9 text-secondary">
                nom de l'employé
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <h5> Prénom:</h5>
              </div>
              <div class="col-md-9 text-secondary">
                prénom de l'employé
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <h5>Email : </h5>
              </div>
              <div  class="col-md-9 text-secondary">
                adresse mail de l'employé
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <h5>Numéro de téléphonne : </h5>
              </div>
              <div  class="col-md-9 text-secondary">
                num de l'employé
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <h5>Adresse : </h5>
              </div>
              <div  class="col-md-9 text-secondary">
                adresse de l'employé
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <h5>Date de naissance : </h5>
              </div>
              <div  class="col-md-9 text-secondary">
                date de naissance de l'employé
              </div>
            </div>
            <hr>
          </div>
        </div>

        <br><br>

        <div class="col-md-8 mt-1">
          <div class="card mn-3 content">
            <h1>Informations relatives à la société</h1>
            <div class="row">
              <div class="col-md-3">
                <h5>Nom de la société : </h5>
              </div>
              <div  class="col-md-9 text-secondary">
                nom de de société
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <h5> Email de la société:</h5>
              </div>
              <div class="col-md-9 text-secondary">
                Email de la société
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <h5> Fonction : </h5>
              </div>
              <div  class="col-md-9 text-secondary">
                fonction occupée dans la société
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
