<div class="container">
<form #form="ngForm">
  <div>
    <img src="/assets/pictures/prof.png" class="rounded-circle" width="150">
  </div>

  <div class="content">
      <h1>Informations personnelles</h1>
    <div class="row">
      <div class="interior">
        <p><span class="titre">Nom</span> :
          <input [(ngModel)]="this.profil.lastName"
                 name="lastName"
                 required
                 #lastNameEl="ngModel">
        </p>
      </div>
      <div class="interior">
        <p><span class="titre">Prénom</span> : <input [(ngModel)]="this.profil.firstName"
                                                      name="firstName"
                                                      required
                                                      #firstNameEl="ngModel"></p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="interior">
        <p><span class="titre">Rue</span> : nom de la rue</p>
      </div>
      <div class="interior">
        <p><span class="titre">Numéro</span> : num</p>
      </div>
      <div class="interior">
        <p><span class="titre">Code Postal</span> : cppp</p>
      </div>
      <div class="interior">
        <p><span class="titre">Ville</span> : villeee</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="interior">
        <p><span class="titre">Numéro de téléphonne</span> : 0000000000</p>
      </div>
      <div class="interior">
        <p><span class="titre">Email</span> :
          {{this.profil.email}}
          <input [(ngModel)]="this.profil.email"
                 name="email"
                 required
                 #emailEl="ngModel"></p>
      </div>
    </div>
    <br>
  </div>
</form>
  <div class="content">
      <h1>Informations relatives à la société</h1>
    <div class="row">
      <div class="interior">
        <p><span class="titre">Nom de la société </span> : nomSociété</p>
      </div>
      <div class="interior">
        <p><span class="titre">Nom de la direction</span> : nomDirecteur</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="interior">
        <p><span class="titre">Fonction occupée dans la société </span> : fonction</p>
      </div>
    </div>
    <br>
  </div>

</div>

