<div class="container">

  <div>
    <img src="/assets/pictures/prof.png" class="rounded-circle" width="150">
  </div>

  <div class="content">
      <h1>Informations personnelles</h1>
    <div class="row">
      <div class="interior">
        <p><span class="titre">Nom</span> : nom</p>
      </div>
      <div class="interior">
        <p><span class="titre">Prénom</span> : prenom</p>
      </div>
    </div>

    <div class="row">
      <div class="interior">
        <p><span class="titre">Rue</span> : nom de la rue</p>
      </div>
      <div class="interior">
        <p><span class="titre">Numéro</span> : num</p>
      </div>
      <div class="interior">
        <p><span class="titre">Code Postal</span> : cppp</p>
      </div>
      <div class="interior">
        <p><span class="titre">Ville</span> : villeee</p>
      </div>
    </div>
  </div>

  <div class="content">
      <h1>Informations relatives à la société</h1>
  </div>

</div>

