<html>
  <body>
  <div id = "global">
  <div id="menu">
    <button (click)="visible(1) " >Faire une demande</button>
    <button (click)="visible(2) " > Voir mes demandes</button>
  </div>

  <div id="corps">
    <div id="forms">
  <form *ngIf="isVisibleForm" [formGroup]="form" (ngSubmit)="send()">
    <fieldset>
      <legend>Complétez votre demande </legend>
        <p>Type d'évènement </p>
        <select formControlName="type">
          <option value="" disabled [selected]="true"> -- Type d'évènements -- </option>
          <option value ="Absence">Absence</option>
          <option value ="Congé">Congé</option>
          <option value ="Maladie">Maladie</option>
          <option value ="Vacances">Vacances</option>
          <option value ="Autres raisons">Autres raisons</option>
        </select>
        <label> <p>Raison</p>
          <input type="text" formControlName="raison">
        </label>
        <label> <p> Date de début </p>
          <input type="datetime-local" formControlName="datedebut">
        </label>
        <label> <p> Date de fin </p>
          <input type="datetime-local" formControlName="datefin">
        </label>
        <br><br>
      <input type="submit" value="Valider" [disabled]="check()">
    </fieldset>
  </form>
    </div>

    <div id="list" *ngIf="isVisibleList">
      <h3> Mes demandes </h3>
      <ul *ngFor="let e of event">
        <li> {{e.comments}} </li>
      </ul>


    </div>
  </div>
  </div>



  </body>
</html>


