<body>


  <div>
    <h3> Connexion</h3>
    <form [formGroup]="form" (ngSubmit)="emitLogin()">
      <label>
        Email :  <br>
        <input type="text" formControlName="email">
      </label>
    <br><br>
      <label>
        Password :  <br>
        <input type="text" formControlName="password">
      </label>
      <br><br><br><br>
      <input type="submit" [disabled]="form.invalid">
    </form>
  </div>

</body>

html - css
je ne comprend pas ce qu'elle me veut
mais elle continue de parler
je  ne sais pas comment lui dire avec sihem
je vais pas me prendre la tete
et je vais le dire à baba dès que possible

on brûle avec tout
