<div *ngIf="employee; else employeeNotFound">
  <h2>{{employee.lastName}}, {{employee.firstName}} : {{employee.id}}</h2>
  <p>Verrouillage des données : <input type="checkbox" [(ngModel)]="isLocked" (change)="emitUpdate(employee)"> </p>
  <p>Sauvegarde des données au verrouillage.</p>
  <table>
    <tr>
      <td>Identification</td>
      <td>{{employee.id}}</td>
    </tr>
    <tr>
      <td>Nom : </td>
      <td><input [(ngModel)]="employee.lastName" [disabled]="isLocked"></td>
    </tr>
    <tr>
      <td>Prénom : </td>
      <td><input [(ngModel)]="employee.firstName" [disabled]="isLocked"></td>
    </tr>
    <tr>
      <td>E-Mail : </td>
      <td><input [(ngModel)]="employee.email" [disabled]="isLocked"></td>
    </tr>
    <tr>
      <td>Fonction : </td>
      <td>
        <p>{{employee.function}}</p>
      </td>
    </tr>
  </table>
</div>

<ng-template #employeeNotFound>
  <h3>Aucun profil</h3>
</ng-template>
