body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 300px;
  margin-top: 10%;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
  color : #cccccc;
}

 div{
   background-color: rgba(0, 0, 0, 0.56);
   text-align: center;
   padding: 5%;
 }
 h4{
   margin-top: 10%;
   text-align: center;
 }


