/* You can add global styles to this file, and also import other style files */
html{
  background-image: url("fond.png");
  height: 100%;
  /*
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
  */
}
