.navbar{
  position: absolute;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  width: 100px;
  box-sizing: border-box;
  align-items: center;
}

.navbar a{
  color: black;
}

.navbar .logo{
  font-size: 3em;
  font-weight: bold;
}

.navbar .nav-links ul{
  display: flex;
}

.navbar .nav-links li{
  margin:0 30px;
}

.navbar .nav-links ul li.active a{
  color: blue;
}


