<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plan-It</title>
</head>

<body>
  <nav class="navbar">
    <a href="#" class="logo"> PLAN-IT </a>
    <div  class="nav-links">
      <ul>
        <li> <a class="active" href="#">Accueil</a></li>
        <li> <a routerLink="login">Connexion</a></li>
        <li> <a href="#" >Demonstration</a></li>
        <li> <a href="#" >Informations</a></li>
        <li> <a href="#">A propos</a></li>
      </ul>
    </div>
  </nav>
  <header></header>
<router-outlet> </router-outlet>


</body>
</html>



