<nav class="navbar">
  <a href="#" class="logo"> PLAN-IT </a>
  <div class="nav-links">
    <ul>
      <ng-container *ngIf="function == 'Stagiaire'">
        <li><a routerLink="planning" routerLinkActive="active">Planning</a></li>
        <li><a routerLink="." routerLinkActive="active">Annonces</a></li>
        <li><a routerLink="request" routerLinkActive="active">Demandes</a></li>
      </ng-container>

      <ng-container *ngIf="function == 'Employe'">
        <li><a routerLink="planning" routerLinkActive="active">Planning</a></li>
        <li><a routerLink="." routerLinkActive="active">Annonces</a></li>
        <li><a routerLink="request" routerLinkActive="active">Demandes</a></li>
      </ng-container>

      <ng-container *ngIf="function == 'Directeur'">
        <li><a routerLink="planning" routerLinkActive="active">Planning</a></li>
        <li><a routerLink="/company" routerLinkActive="active">Gestion de l'entreprise</a></li>
        <li><a routerLink="." routerLinkActive="active">Annonces</a></li>
        <li><a routerLink="." routerLinkActive="active">Paramètres</a></li>
      </ng-container>
      <li><a routerLink="profil" routerLinkActive="active">Mon profil</a></li>
      <li><a routerLink="/leave" routerLinkActive="active">Quitter</a></li>
    </ul>
    <hr>
  </div>
</nav>
<router-outlet></router-outlet>






