<html>
<head>
  <title>Inscrivez-vous</title>
</head>

<body>
  <form action="">
    <h4>INSCRIPTION</h4>
    <hr>
    <div class="name-field">
        <div>
          <label>Nom</label>
          <input type="text">
        </div>
        <div>
          <label>Prénom</label>
          <input type="text">
        </div>
    </div>
    <br>
      <label>Email</label>
      <input type="text"><br>
      <label>Mot de passe</label>
      <input type="text"><br>
      <label>Confirmer votre mot de passe</label>
      <input type="text"><br><br>
      <input type="submit" value="S'inscrire">
      <p>Vous avez  déjà un compte ? <a routerLink="../login">Connectez-vous</a></p>

  </form>

  <router-outlet></router-outlet>

</body>
</html>
